<div class="notifications-container">
  <div class="admin-container">
    <div class="creative-bg">
      <div class="floating-circle circle-1"></div>
      <div class="floating-circle circle-2"></div>
      <div class="floating-circle circle-3"></div>
    </div>

    <app-navbar></app-navbar>

    <div class="notifications-wrapper">
      <div class="empty-notifications" *ngIf="!loading && notifications.length === 0" >
        <p>No notifications to display.</p>
      </div>
      <div class="mark-all-container" *ngIf="!loading && notifications.length > 0">
        <button mat-raised-button color="primary" (click)="markAllAsRead()" >
          Mark All as Read
        </button>
      </div>

      <mat-card *ngFor="let notification of notifications" class="notification-card"
        [ngClass]="{'unread': !notification.read}">
        <mat-card-header>
          <img [src]="getImage( notification.sender.avatar) || 'assets/img/default-avatar.png'"
            [alt]="notification.sender.username + ' profile picture'" class="avatar-img" loading="lazy">
          <mat-card-title>{{ notification.sender.username }}</mat-card-title>
          <mat-card-subtitle>{{ formatNotificationType(notification.type) }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p>{{ notification.message }}</p>

          <ng-container [ngSwitch]="notification.type">
            <div *ngSwitchCase="'LIKE'">
              <p>Liked your <a (click)="onClik('/post/' + notification.post.id, notification.id)" class="link">post</a>.
              </p>
            </div>
            <div *ngSwitchCase="'COMMENT'">
              <p>Commented on your <a (click)="onClik('/post/' + notification.post.id,notification.id)"
                  class="link">post</a>.</p>
            </div>
            <div *ngSwitchCase="'FOLLOW'">
              <p>follow a <a (click)="onClik('/profile/'+notification.sender.username,notification.id)"
                  class="link">{{notification.sender.username}}</a>.</p>
            </div>
            <div *ngSwitchCase="'POST'">
              <p>Published a <a (click)="onClik('/post/' + notification.post.id,notification.id)" class="link">new
                  post</a>.</p>
            </div>
          </ng-container>
        </mat-card-content>

        <mat-card-actions>
          <span class="timestamp">{{ notification.createdAt | date:'short' }}</span>
          <span class="status" *ngIf="!notification.read">• Unread</span>
        </mat-card-actions>
      </mat-card>
    </div>

    <div *ngIf="loading" class="loading-state">
      <mat-spinner diameter="40"></mat-spinner>
    </div>
  </div>
</div>